{% extends "basicapp/base.html" %}
{% block content %}

<section class="banner-area">
      <div class="container">
          <div class="row">
            <div class="col-lg-8">
                  <h5>Caring for better life</h5>
                  <h1>Leading the way in cancer detection</h1>
                  <p>
                    a web software system made for hospitals whose main purpose is
                    to detect cancer and to develop easy steps for the patients and staff to make the system more
                    flexible
                  </p>
              </div>
          </div>
          {% endblock %}
      </div>
  </section>
